body {
	background-color:#DAE7FF;
}

.jumbotron {
	margin:0 0 0 0;
	padding: 2vh 0 1vh 0;
	color:#DAE7FF;
	background-color:#2D4571;
}

main {
	background-color: #DAE7FF;
	padding: 4vh 0 2vh 0;
}

.btn{
		box-shadow: 4px 6px 5px #888888;
}

@media screen and (max-width: 479px) and (min-width: 220px) {

	.smallh1 {
		font-size:27px;
		padding-bottom:5px;
	}

	.legendaPagina {
		font-size:19px;
		padding-bottom:2px;
	}

	input {
		margin: 0vh 0 4vh 0;
	}

	input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='file'] {
		font-size:1rem;
	}

	.btn-success {
		font-weight:bold;
		font-size:1.5rem;
	}

	#labelFotoPerfilVoluntario {
		margin: 2vh 0 4vh 0; 
		font-size:1rem;
	}

	.custom-file-control::before {
	  content: "Abrir";
	}

}

@media screen and (min-width: 480px) {

	.smallh1 {
		font-size:70px;
		padding-bottom:10px;
	}

	.legendaPagina {
		font-size:30px;
		padding-bottom:5px;
	}

	input {
		margin: 0vh 0 4vh 0;
		min-width: 60vw;
	}

	input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='file'] {
		font-size:2.5rem;
	}
	
	.btn-success {
		font-weight:bold;
		font-size:3rem;
	}

	#labelFotoPerfilVoluntario {
		margin: 2vh 0 4vh 0; 
		font-size:2.5rem;
		height: 70px;
	}

	.custom-file-control::before {
		content: "Abrir";
		height: 70px;
		line-height:54px;
	}

	#spanFotoPerfilVoluntario {
		height:70px;
		line-height:54px;
	}

}

.extraSmallSecondaryNav {
	margin: 30px 0 20px 0;
	
}

.extraSmallSecondaryNav button {
	font-size:1rem;
}

.secondaryNav {
	margin: 6vh 0 2.5vh 0;

}

.secondaryNav button{
	font-size:2rem;
}

.custom-file-control::after {
  content: "Selecionar Foto";
}