body {
	background-color:#DAE7FF;
}

.jumbotron {
	margin:0 0 0 0;
	padding: 2vh 0 1vh 0;
	color:#DAE7FF;
	background-color:#2D4571;
}

main {
	background-color: #DAE7FF;
	padding: 4vh 0 2vh 0;
}

.btn {
	border-radius:100px;
}

p {
	color: #555
}

@media screen and (max-width: 479px) and (min-width: 220px) {

	.smallh1 {
		font-size:27px;
		padding-bottom:5px;
	}

	.btn {
		font-size:1.5rem;
		box-shadow: -2px 2px 5px #888888;
	}
	
	.btn-circle {
		border-radius:100%;
		padding: 70px 20px 70px 20px;
		font-size:1.5rem;
		font-weight:bold;
		box-shadow: -6px 2px 5px #AA0000;
	}

	p {
		font-size:1.2rem;
		margin: 0 0 4vh 0;
	}
	
}


@media screen and (min-width: 480px) {
	
	.smallh1 {
		font-size:70px;
		padding-bottom:10px;
	}
	
	.lead {
		font-size:2em;
	}
	
	.btn {
		font-size:3.5rem;
		box-shadow: -2px 2px 5px #888888;
	}
	
	.btn-circle {
		border-radius:100%;
		padding: 130px 20px 130px 20px;
		font-size:4rem;
		font-weight:bold;
		box-shadow: -6px 2px 5px #AA0000;
	}
	
	p {
		font-size:2rem;
		margin: 0 0 4vh 0;
	}
	
}